
body{
 font-weight: 100;
  line-height: 180%;
  font-family: 'roboto', sans-serif;
  height: 100%;
  display: block;
  margin: 0 auto;
 }


h1 {
  margin: 0 auto;
  padding: 5px 0px 5px 0px;
  letter-spacing: 7px;
  text-align: center;
  width: 90%;
  font-size: 35px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 100;
}
h2, h3 {
  padding: 10px;
  text-align: center;
  margin: 0 auto;
  width: 80%;
}
header{
  background-color: white;
  height: 120vh;
  min-height: 500px;
  padding-top: 0;
}
a{
  color: red;
  text-decoration: none;
}
a:hover{
  opacity: 0.5;
}
.cntnt{
  padding: 5%;
}
p{
  font-size: 16px;
  margin-top: 5%;
  width: 100%;
  text-align: center;
}

.trianlg{
  overflow: hidden;
  margin: 0 auto;
  width: 400px;
  height: 400px;
  display: block;
}

.text{
  display: block;
  letter-spacing:4px;
  text-align:center;
  font-weight:100;
  width:100%;
  font-family: 'Roboto', sans-serif;
}

.scroll-icon{
  text-align: center;
  display: block;
  margin: 0 auto;
  width: 100%;
 }

 .icon_main{
   display: inline-block;
   width: 15%;
 }

 .menu_top{
   z-index: 2;
   background-image: url("../img/bg_menu.png");
   width: 100%;
   height: 50px;
   position: fixed;
   margin: 0 auto;
  }

  .port_img img{
    width: 100%;
  }

  .port_img{
    margin: 0 auto;
    text-align: center;
  z-index: -7;
  }

  .top_h{
        position: absolute;
        width: 100%;
        z-index: 10;
        background-color: white;
        overflow: hidden;
  }
.tabs__content img{
  width: 32px;
  height: 32px;
  padding: 0% 2% 0% 2%;
  display: inline-block;
  margin: 0 auto;
}
  .tabs__content {
    text-decoration: none;
    display: none; /* по умолчанию прячем все блоки */
  }
  .tabs__content.active {
    display: block; /* по умолчанию показываем нужный блок */
  }
  .img_face{
    text-align: center;
  }
  .tabs__caption li {
    border-width: 2px;
    border: 1px double;
    border-color: black;
    /* background: #B18181; */
    border-radius: 40px;
    padding: 15px 20px 15px 100px;
    display: inline-block;

  }
  .tabs__caption{
    font-size: 14px;
      text-align: center;
        margin: 0 auto;
        padding: 0;

  }



  .tabs__caption li.active{
    display: none;
    background: #fcfcfc;

      text-decoration: none;
    }
.menu_top li{
  display: inline-block;
  padding: 0% 2% 0% 2%;

}
.logo{
  left: 2%;
    position: absolute;
    margin-left: 5px;
    width: 20px;
    display: inline-block;
    height: 20px;
    margin-top: 5px;
 }
.menu_top ul{
  width: 80%;
  padding: 0;
  display: inline-block;
  margin-right: 10%;
}
.menu_li{
  font-size: 13px;
  /* margin-top: 5px; */
  height: 30px;
  text-align: right;
  width: 100%;
  display: inline-block;
}
a:hover {
  opacity: 0.5;
}

 @media only screen and (max-width: 320px) {
   .tabs__caption li{
    position: absolute;
    margin-left: -250px;
    margin-top: -120px;
   }
   .img_face img{
     width: 50%;
     text-align: center;
   }
   .trianlg{
     margin-top: -40px;
     width: 300px;
     height: 400px;
     display: block;
   }
   .wrapper {
    position: absolute;
    top: 20%;
    left: 50%;
    margin-top: -170px;
    margin-left: -200px;
}

   h1{
     letter-spacing: 5px;
     text-align: center;
     width: 100%;
     font-size: 26px;
     font-family: 'Josefin Sans', sans-serif;
     font-weight: 100;

   }



 }

@media only screen and (max-width: 568px)  and (min-width: 321px) {
  .tabs__caption li{
   position: absolute;
   margin-left: -270px;
   margin-top: -140px;
  }
  .img_face img{
    width: 50%;
    text-align: center;
  }

  .trianlg{
    margin-top: -60px;
    width: 300px;
    height: 400px;
    display: block;
  }

  h1 {
    letter-spacing: 7px;
    text-align: center;
    width: 100%;
    font-size: 30px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 100;
  }
  .wrapper {
    position: absolute;
    top: 22%;
    left: 50%;
    margin-top: -170px;
    margin-left: -200px;
  }


}
@media only screen and (max-width: 582px) and (min-width: 569px)  {
  .tabs__caption li{
   position: absolute;
   margin-left: -230px;
   margin-top: -140px;
  }
  .img_face img{
    width: 50%;
    text-align: center;
  }

  .text{
    letter-spacing:5px;
    text-align:center;
    font-weight:100;
   width:100%;
  }

  .wrapper {
    position: absolute;
    top: 30%;
    left: 50%;
    margin-top: -170px;
    margin-left: -200px;
  }

}

@media only screen and  (min-width: 583px)  {

  section{
    margin: 0 auto;
    width: 50%;
  }

  .wrapper {
    position: absolute;
    top: 30%;
    left: 50%;
    margin-top: -170px;
    margin-left: -200px;
  }


}

/* ________________________________________________________________________________triangle style */
